@media all and (max-width: 992px) and (min-width: 769px) {
    #social-header {
        width: 25%;
    }

    #full-menu {
        border-top: none;
    }

    #full-menu-nav-links {
        width: 100%;
        font-size: 100%;
        border-top: 0.125vw solid var(--border-color);
    }

}

@media all and (max-width: 1320px) {
    #full-menu {
        border-top: 0.35vw solid var(--border-color);
    }
}

@media all and (max-width: 768px) {

    header {
        border-bottom: 0.35vw solid var(--border-color);
    }

    body {
        overflow-x: hidden;
    }

    #social-header,
    #full-menu {
        display: none;
    }

    .menu-block {
        display: block;
        position: absolute;
        right: 0;
        z-index: 4;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
    }

    .menu a {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        width: 7vh;
        height: 7vh;
        border-radius: 50%;
        transition: 0.4s;
        position: absolute;
        left: calc(50% - 3.5vh);
        top: calc(50% - 3.5vh);
        z-index: 0;
        text-decoration: none;
        transform: scale(0.01);
    }

    .menu a i {
        background-color: transparent;
        font-size: 3.75vh;
    }
    
    
    .menu a:nth-child(1) {
        transition-delay: 0.1s;
        z-index: 0;
    }
    
    .menu a:nth-child(2) {
        transition-delay: 0.2s;
        z-index: 0;
    }
    
    .menu a:nth-child(3) {
        transition-delay: 0.3s;
        z-index: 0;
    }
    
    .menu a:nth-child(4) {
        transition-delay: 0.4s;
        z-index: 0;
    }
    
    .menu a:nth-child(5) {
        transition-delay: 0.5s;
        z-index: 0;
    }
      
    .menu_active a:nth-child(1) {
        transform: translateY(7vh);
    }
    
    .menu_active a:nth-child(2) {
        transform: translateY(14vh);
      }
    
    .menu_active a:nth-child(3) {
        transform: translateY(21vh);
    }
    
    .menu_active a:nth-child(4) {
        transform: translateY(28vh);
    }
    
    .menu_active a:nth-child(5) {
        transform: translateY(35vh);
    }
    
    .menu-btn {
        display: block;
        width: 10vw;
        height: 10vw;
        right: 0;
        background-color: transparent;
        border-radius: 50%;
        z-index: 10;
    }
    
    .menu-btn span,
    .menu-btn span::before,
    .menu-btn span::after {
      position: absolute;
      top: 50%;
      margin-top: -0.125vw;
      left: 50%;
      margin-left: -2.5vw;
      width: 5vw;
      height: 0.25vw;
      background-color: aliceblue;
    }
    
    .menu-btn span::before,
    .menu-btn span::after {
      content: '';
      display: block;
      transition: 0.2s;
    }
    
    .menu-btn span::before {
        transform: translateY(-5px);
    }
    
    .menu-btn span::after {
        transform: translateY(5px);
    }
    
    .menu-btn_active span::before {
        transform: rotate(45deg);
    }
    
    .menu-btn_active span::after {
        transform: rotate(-45deg);
    }
    
    .menu-btn_active span {
        height: 0;
    }

    header {
        border: unset;
        margin-bottom: .3vw;
    }
    
    footer {
        background-color: var(--bg-color);
        padding: 5vw;
        text-align: left;
        border-top: 0.125vw solid var(--border-color);
        margin-top: 0;
    }
    
    footer span {
        background-color: inherit;
        font-size: 80%;
    }
    
    #author {
        color: var(--border-color);
        background-color: var(--bg-color);
        font-size: 100%;
    }

    #donate-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #wrap {
        background-color: rgb(15, 15, 15);
        width: 100%;
        margin-top: 0vw;
        border-radius: unset;
        padding: 2vw;
        border-top: .25vw solid var(--border-color);
    }
    
    #top-wrap {
        width: 100%;
        background-color: rgb(15, 15, 15);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    #top-wrap img {
        width: 55%;
        background-color: transparent;
    }
    
    #top-wrap li {
        background-color: rgb(15, 15, 15);
        font-size: 20px;
    }

    #krypto-wrap {
        width: 100%;
        background-color: rgb(15, 15, 15);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .qr-wrap {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        margin-top: 2vw;
    }
    
    .qr-wrap img {
        width: 35%;
        margin: auto;
    }
    
    .adress {
        color: var(--border-color);
        font-size: 18px;
    }
    
    
    .qr-wrap span {
        margin: auto;
        padding: 1.5vw;
        text-align: center;
    }
    

}

@media all and (max-width: 426px) {
    .menu-block {
        display: block;
        position: absolute;
        right: 0;
        z-index: 4;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
    }

    .menu a {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        width: 7vh;
        height: 7vh;
        border-radius: 50%;
        transition: 0.4s;
        position: absolute;
        left: calc(50% - 3.5vh);
        top: calc(50% - 3.5vh);
        z-index: 0;
        text-decoration: none;
        transform: scale(0.01);
    }

    .menu a i {
        background-color: transparent;
        font-size: 3.75vh;
    }
    
    
    .menu a:nth-child(1) {
        transition-delay: 0.1s;
        z-index: 0;
    }
    
    .menu a:nth-child(2) {
        transition-delay: 0.2s;
        z-index: 0;
    }
    
    .menu a:nth-child(3) {
        transition-delay: 0.3s;
        z-index: 0;
    }
    
    .menu a:nth-child(4) {
        transition-delay: 0.4s;
        z-index: 0;
    }
    
    .menu a:nth-child(5) {
        transition-delay: 0.5s;
        z-index: 0;
    }
      
    .menu_active a:nth-child(1) {
        transform: translateY(7vh);
    }
    
    .menu_active a:nth-child(2) {
        transform: translateY(14vh);
      }
    
    .menu_active a:nth-child(3) {
        transform: translateY(21vh);
    }
    
    .menu_active a:nth-child(4) {
        transform: translateY(28vh);
    }
    
    .menu_active a:nth-child(5) {
        transform: translateY(35vh);
    }
    
    .menu-btn {
        display: block;
        width: 15vw;
        height: 15vw;
        right: 0;
        background-color: transparent;
        border-radius: 50%;
        z-index: 10;
    }
    
    .menu-btn span,
    .menu-btn span::before,
    .menu-btn span::after {
      position: absolute;
      top: 50%;
      margin-top: -0.125vw;
      left: 50%;
      margin-left: -3.5vw;
      width: 7vw;
      height: 0.25vw;
      background-color: aliceblue;
    }
    
    .menu-btn span::before,
    .menu-btn span::after {
      content: '';
      display: block;
      transition: 0.2s;
    }
    
    .menu-btn span::before {
        transform: translateY(-5px);
    }
    
    .menu-btn span::after {
        transform: translateY(5px);
    }
    
    .menu-btn_active span::before {
        transform: rotate(45deg);
    }
    
    .menu-btn_active span::after {
        transform: rotate(-45deg);
    }
    
    .menu-btn_active span {
        height: 0;
    }

    #donate-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #wrap {
        background-color: rgb(15, 15, 15);
        width: 100%;
        margin-top: 0vw;
        border-radius: unset;
        padding: 2vw;
        border-top: .25vw solid var(--border-color);
    }
    
    #top-wrap {
        width: 100%;
        background-color: rgb(15, 15, 15);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    #top-wrap img {
        width: 75%;
        background-color: transparent;
    }

    #top-wrap ul {
        padding: 3vw;
        background-color: rgb(15, 15, 15);
    }
    
    #top-wrap li {
        background-color: rgb(15, 15, 15);
        font-size: 18px;
        margin-bottom: 2vw;
    }

    #krypto-wrap {
        width: 100%;
        background-color: rgb(15, 15, 15);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .qr-wrap {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        margin-top: 4vw;
        background-color: rgb(15, 15, 15);
    }
    
    .qr-wrap img {
        width: 55%;
        margin: auto;
        background-color: rgb(15, 15, 15);
    }
    
    .adress {
        color: var(--border-color);
        font-size: 18px;
        background-color: rgb(15, 15, 15);
    }
    
    
    .qr-wrap span {
        margin: auto;
        text-align: center;
    }

    #btc-btn,
    #usdt-btn {
    width: 130px;
    height: 45px;
    margin: auto;
    background-color: #1d1d1d;;
    color: var(--border-color);
    }

}

@media all and (max-width: 376px) {
    #top-wrap li {
        background-color: rgb(15, 15, 15);
        font-size: 16px;
        margin-bottom: 2vw;
    }
}

@media all and (max-width: 321px) {
    li {
        background-color: rgb(15, 15, 15);
        font-size: 14px;
        margin-bottom: 2.5vw;
    }
}

