@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,300&display=swap');

:root {
    --main-bg-color: #1d1d1d;
    --main-txt-color: aliceblue;
    --border-color: goldenrod;
    --main-txt-size: 4vw;
    --bg-color: rgb(15, 15, 15);
    --slogan-fz: 10vw;
    --h1-fz: 7vw;
    --right-first-block-height: 14vh;
}

* {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    font-family: sans-serif;
}

.menu-block {
    display: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header-wrapper {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#logo {
    height: 70%;
    background-color: transparent;
}

#social-header {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;

}

#social-header a {
    background-color: transparent;
}

#full-menu {
    grid-area: full-menu;
    width: 100%;
    display: block;
    border-top: 0.125vw solid var(--border-color);
    border-bottom: 0.0625vw solid var(--border-color);
    background-color: #1d1d1d;
}

#full-menu nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 15, 15);
}

#full-menu-nav-links {
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 1.5vw;
    font-weight: bold;
    background-color: rgb(15, 15, 15);
    padding: 1vw;

}

#full-menu-nav-links a {
    background-color: rgb(15, 15, 15);
    transition: color .75s;
    text-decoration: none;
}

#full-menu-nav-links a:hover {
    color: var(--border-color);
}

footer {
    background-color: var(--bg-color);
    padding: 5vw;
    text-align: left;
    border-top: 0.125vw solid var(--border-color);
    margin-top: 1vw;
}

footer span {
    background-color: inherit;
    font-size: 80%;
}

#author {
    color: var(--border-color);
    background-color: var(--bg-color);
    font-size: 100%;
}

#donate-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrap {
    background-color: rgb(15, 15, 15);
    width: 90%;
    /* height: 100vh; */
    margin-top: 1vw;
    border-radius: 10px;
    padding: 2vw;
}

#top-wrap {
    width: 100%;
    background-color: rgb(15, 15, 15);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#top-wrap img {
    width: 35%;
    background-color: transparent;
}

#top-wrap ul {
    background-color: rgb(15, 15, 15);
}

#top-wrap li {
    background-color: rgb(15, 15, 15);
    font-size: 22px;
    margin-bottom: 1vw;
}

#krypto-wrap {
    width: 100%;
    background-color: rgb(15, 15, 15);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.qr-wrap {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    background-color: rgb(15, 15, 15);
}

.qr-wrap img {
    width: 35%;
    margin: auto;
    background-color: rgb(15, 15, 15);
}

.adress {
    color: var(--border-color);
    font-size: 22px;
    background-color: rgb(15, 15, 15);
}

.way {
    font-size: 16px;
}

.qr-wrap span {
    margin: auto;
    padding: .75vw;
    text-align: center;
    background-color: rgb(15, 15, 15);
}

.way {
    display: none;
}

#btc-btn,
#usdt-btn {
    width: 130px;
    height: 30px;
    margin: auto;
    background-color: #1d1d1d;;
    color: var(--border-color);
}

button:hover {
    cursor: pointer;
}

#youmoney {
    width: 100%;
    background-color: rgb(15, 15, 15);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vw;
}

iframe {
    width: 212px;
    height: 48px;
}