@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('gothampro.css');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,300&display=swap');
:root {
    --main-bg-color: #1d1d1d;
    --main-txt-color: aliceblue;
    --border-color: goldenrod;
    --main-txt-size: 4vw;
    --bg-color: rgb(15, 15, 15);
}

* {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    font-family: 'Gotham Pro', sans-serif;
}

a {
    text-decoration: none;
}

.menu-block {
    position: absolute;
    right: 0;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.menu a {
    /* color: #222; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* border: 1px solid; */
    transition: 0.4s;
    position: absolute;
    left: calc(50% - 15px);
    top: calc(50% - 15px);
    z-index: 0;
    text-decoration: none;
    transform: scale(0.01);
}


.menu a i {
    background-color: transparent;
    font-size: 3.75vh;
}


.menu a:nth-child(1) {
    transition-delay: 0.1s;
    z-index: 0;
}

.menu a:nth-child(2) {
    transition-delay: 0.2s;
    z-index: 0;
}

.menu a:nth-child(3) {
    transition-delay: 0.3s;
    z-index: 0;
}

.menu a:nth-child(4) {
    transition-delay: 0.4s;
    z-index: 0;
}

.menu a:nth-child(5) {
    transition-delay: 0.5s;
    z-index: 0;
}
  
.menu_active a:nth-child(1) {
    transform: translateY(5vh);
}

.menu_active a:nth-child(2) {
    transform: translateY(10vh);
  }

.menu_active a:nth-child(3) {
    transform: translateY(15vh);
}

.menu_active a:nth-child(4) {
    transform: translateY(20vh);
}

.menu_active a:nth-child(5) {
    transform: translateY(25vh);
}

.menu-btn {
    display: block;
    width: 50px;
    height: 50px;
    right: 0;
    background-color: transparent;
    border-radius: 50%;
    z-index: 10;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%; margin-top: -1px;
  left: 50%; margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: aliceblue;
}

.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  transition: 0.2s;
}

.menu-btn span::before {
    transform: translateY(-5px);
}

.menu-btn span::after {
    transform: translateY(5px);
}

.menu-btn_active span::before {
    transform: rotate(45deg);
}

.menu-btn_active span::after {
    transform: rotate(-45deg);
}

.menu-btn_active span {
    height: 0;
}

header {
    width: 100vw;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 2px -1px var(--border-color);
}

#header-wrapper {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 50%;
    background-color: transparent;
}

.text {
    background-color: var(--bg-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5vw solid var(--border-color);
}

.text p {
    background-color: var(--bg-color);
    font-size: var(--main-txt-size);
    line-height: 5.6vw;
    width: 90%;
    padding-bottom: 5vw;
}

#slogan {
    background-color: inherit;
    width: 90%;
    font-size: 10vw;
    line-height: 9.5vw;
    font-weight: normal;
    padding: 5vw 0;
    
}

#team-gallery,
#calendar-gallery,
#home-contact {
    background-color: var(--bg-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#team-gallery h1,
#calendar-gallery h1,
#home-contact h1 {
    background-color: inherit;
    width: 90%;
    font-size: 7vw;
    font-weight: normal;
    padding: 3vw 0 1vw 0;

}

#team-gallery p,
#calendar-gallery p,
#home-contact p {
    background-color: inherit;
    width: 90%;
    font-size: var(--main-txt-size);
    padding-bottom: 5vw;
}

#gallery,
#shedule {
    width: 100%;
    padding: 2vw;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    overscroll-behavior: contain;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-x;
    scroll-snap-type: x mandatory;
}



.gallery-card,
.shedule-card-home {
    width: 55vw;
    height: 55vw;
    background-color: var(--bg-color);
    border-radius: 5%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* scroll-snap-align: start;
    scroll-padding-left: 20px;
    scroll-padding-inline-start: 20px; */
}

.gallery-card:not(:last-child),
.shedule-card-home:not(:last-child) { margin-right: 3vw; }
.gallery-card:first-child,
.shedule-card-home:first-child {margin-left: 3vw;}
.gallery-card:last-child,
.shedule-card-home:last-child {width: 75px; background-color: inherit;}
#gallery::-webkit-scrollbar,
#shedule::-webkit-scrollbar { display: none;}

.gallery-card img {
    width: 90%;
    background-color: transparent;
}

#calendar-gallery {
    border-top: 0.5vw solid var(--border-color);
}

/* card */
.shedule-card-home {
    position: relative;
    display: flex;
    flex-direction: column;
    perspective: 1000px;
    background-color: var(--main-bg-color);
    width: 70vw;

}


.shedule-card-home span {
    background-color: inherit;
}

.matchday-promo-txt {
    font-size: 4.5vw;
}

/* front */
.shedule-logo-wrapper { 
    position: absolute;
    background-color: var(--bg-color);
    border-radius: 5%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    transition: 1s;
}

.shedule-logo-wrapper_active {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: 1s;
    transform: rotateY(180deg);
}

/*back  */
.back-shedule {
    position: absolute;
    background-color: var(--bg-color);
    border-radius: 5%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    backface-visibility: hidden;
    transition: 1s;
    transform: rotateY(180deg);
}

.back-shedule_active {
    position: absolute;
    background-color: var(--bg-color);
    border-radius: 5%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    backface-visibility: hidden;
    transition: 1s;
    transform: rotateY(180deg);
    transform: rotateY(360deg);
}

.shedule-logo {
    width: 40%;
    background-color: transparent;
}

.shedule-logo-wrapper span {
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    font-size: 5vw;
}

.back-shedule span {
    font-size: 5vw;
}

#home-contact {
    border-top: 0.5vw solid var(--border-color);
    border-bottom: 0.5vw solid var(--border-color);
}

#home-media-wrapper {
    background-color: var(--bg-color);
    padding-bottom: 5vw;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer {
    background-color: var(--bg-color);
    padding: 5vw;
}

footer span {
    background-color: inherit;
    font-size: 4.5vw
}

#author {
    color: var(--border-color);
    background-color: var(--bg-color);
}