@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,300&display=swap');

:root {
    --main-bg-color: #1d1d1d;
    --main-txt-color: aliceblue;
    --border-color: goldenrod;
    --main-txt-size: 4vw;
    --bg-color: rgb(15, 15, 15);
    --slogan-fz: 10vw;
    --h1-fz: 7vw;
    --right-first-block-height: 14vh;
}

* {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    /* background-color: #fff; */
    color: var(--main-txt-color);
    font-family: sans-serif;
}

.menu-block,
#squad-wrapper-mobile {
    display: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header-wrapper {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#logo {
    height: 70%;
    background-color: transparent;
}

#social-header {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;

}

#social-header a {
    background-color: transparent;
}

#full-menu {
    grid-area: full-menu;
    width: 100%;
    display: block;
    border-top: 0.125vw solid var(--border-color);
    border-bottom: 0.0625vw solid var(--border-color);
    background-color: #1d1d1d;
}

#full-menu nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 15, 15);
}

#full-menu-nav-links {
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 1.5vw;
    font-weight: bold;
    background-color: rgb(15, 15, 15);
    padding: 1vw;

}

#full-menu-nav-links a {
    background-color: rgb(15, 15, 15);
    transition: color .75s;
    text-decoration: none;
}

#full-menu-nav-links a:hover {
    color: var(--border-color);
}

#wrap {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: var(--bg-color);
    padding: 5vw;
    text-align: left;
    border-top: 0.125vw solid var(--border-color);
}

footer span {
    background-color: inherit;
    font-size: 80%;
}

#author {
    color: var(--border-color);
    background-color: var(--bg-color);
    font-size: 100%;
}

#main-wrapper {
    width: 100%;
    

}

#pitch {
    background-image: url("pitch2.png");
    width: 500px;
    height: 427.5px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    background-color: rgb(15, 15, 15);
    position: relative;
}


.pitch-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10%;
    background-color: transparent;
    position: absolute;
}
#keeper {
    bottom: 12%;
    left: 45%;
}

#lb {
    bottom: 30%;
    left: 15%;
}

#rb {
    bottom: 30%;
    right: 15%;
}

#lcb {
    bottom: 30%;
    left: 35%;
}

#rcb {
    bottom: 30%;
    right: 35%;
}

#cdm {
    bottom: 45%;
    left: 45%;
}

#lcm {
    bottom: 55%;
    left: 25%;
}

#rcm {
    bottom: 55%;
    right: 25%;
}

#lm {
    bottom: 75%;
    left: 20%;
}

#rm {
    bottom: 75%;
    right: 20%;
}

#st {
    bottom: 85%;
    right: 45%;
}

.pitch-player img {
    width: 100%;
    background-color: transparent;

}

.pitch-player-name {
    text-align: center;
    background-color: rgba(15, 15, 15, .5);
    /* background-color: transparent; */
    color: var(--border-color);
    font-weight: bold;
    font-size: 14px;
}

#squad-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    border-bottom: 0.0625vw solid var(--border-color);
    background-color: rgb(15, 15, 15);
}

#squad {
    background-color: var(--bg-color);
    width: 32%;
    height: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    /* border-right: 0.0625vw solid var(--border-color); */
    min-width: 0;
    
}

#manager {
    background-color: var(--bg-color);
    width: 32%;
    height: 100%;
    /* border-left: 0.0625vw solid var(--border-color); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.manager-card {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 15, 15);
}

.manager-card img {
    width: 60%;
    background-color: transparent;
}

.manager-title {
    color: var(--border-color);
    font-size: 28px;
    background-color: transparent;
    text-align: center;
}

#center-wrapper {
    height: 80%;
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: rgb(15, 15, 15); */
}

.span-sq {
    color: var(--border-color);
    font-size: 28px;
    background-color: rgb(15, 15, 15);
    text-align: center;
    width: 100%;
}

#gallery {
    width: 80%;
    height: auto !important;
    display: flex !important;
    list-style: none;
    flex-direction: column !important;
    align-items: center !important;
    z-index: 80;
    background-color: rgb(15, 15, 15);
    min-width: 0;
}
    
.slick-prev {
    top: -10px;
}

.slick-next {
    top: auto;
    bottom: -20px;
}

.slick-vertical .slick-arrow {
    width: 30px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    background-color: aliceblue;
    border-radius: 50%;
    border: .1vw solid black;
    margin-top: 1vw;
    margin-bottom: 1vw;
}
    
.slick-vertical .slick-arrow:hover { 
    opacity: .6; 
}

#gallery-mobile::-webkit-scrollbar { display: none;}

.gallery-card {
    width: 100% !important;
    height: 20vw;
    min-width: 0;
    background-color: rgb(15, 15, 15);
    display: flex !important;
    flex-direction: column !important;
    justify-content: center!important;
    align-items: center !important;
    border-radius: 5%;
    cursor: grab;
    margin-top: 1vw;
    min-width: 0;
}

.gallery-card:last-child {
    margin-bottom: 1vw;
}
    
.gallery-card img {
    width: 60%;
    background-color: transparent;
}

a {
    background-color: transparent;
}

.profile {
    background-image: linear-gradient(144deg,goldenrod, #e9d926 50%,goldenrod);
    width: 200px;
    height: 2vw;
    color: var(--bg-color);
    border-radius: 10px;
}

.profile:hover {
    cursor: pointer;
}

#stats {
    width: 100%;
    background-color: rgb(15, 15, 15);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.bar-wrapper {
    width: 70%;
    margin: auto;
    padding: 3vw;

}

.bar {
    width: 100%;
    background-color: #1d1d1d;
}

#stats-title {
    width: 100%;
    text-align: center;
    color: var(--border-color);
    font-size: 28px;
    background-color: var(--bg-color);
    padding-top: 2vw;
    padding-bottom: 2vw;
    font-weight: normal;
}
.choices {
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.choices li {
    background-color: rgba(218, 165, 32, 0.7);
    height: 25px;
    width: 170px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
    
}

.choices li {
    margin-right: 2vw;
}

.choices li:hover {
    cursor: pointer;
}